body {
  text-align: center;
  background-color: #192965;
}

h1 {
  font-size: 5rem;
  color: #ffcc00;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #42e6a4;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
background-image: url("tom1.png");
}

.a {
background-image: url("tom2.png");
}

.s {
background-image: url("tom3.png");
}

.d {
background-image: url("tom4.png");
}

.j {
background-image: url("snare.png");
}

.k {
background-image: url("kick.png");
}

.l {
background-image: url("crash.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 7px solid #000839;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #01d28e;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

footer
{
  color: #f1fa3c;
}
